footer.footer
	.container
		nav.footer-nav 
			a.footer-nav__link(href="") Terms
			a.footer-nav__link(href="") Privacy
			a.footer-nav__link(href="") Add Choices
			a.footer-nav__link(href="") Help
		nav.footer-nav 
			a.footer-nav__link(href="") About answers
			a.footer-nav__link(href="") Community Guidelines
		nav.footer-nav 
			a.footer-nav__link(href="") Leaderboard
			a.footer-nav__link(href="") Knowledge Partners
			a.footer-nav__link(href="") Points &amp; Levels
		nav.footer-nav 
			a.footer-nav__link(href="") Send Feedback
			a.footer-nav__link(href="") International Sites