header.header 
	.header__content.container
		a.logo(href="index.html") 
			span Qn
			| A
		form.header-search 
			input.form__field(type="text", placeholder="Search Answers", id="autocomplete", autocomplete="off")
			button.header-search__btn.form__btn(type="submit")
				+icon('search', 'form__icon-search')
		a.header__link(href="about.html") About
