header.header 
	.header__content.container
		a.logo(href="index.html") 
			span Qn
			| A
		.header-search 
			input.header-search__field(type="text", placeholder="Search Answers")
			button.header-search__btn(type="submit")
				+icon('search', 'header-search__icon')
		.header__select-wrapper
			+icon('plus', 'header__select-icon')
			select.header__select
				option(value="") Choose
				option(value="") Option 1
				option(value="") Option 2
				option(value="") Option 3
				option(value="") Option 4
				option(value="") Option 5
		a.header__link(href="") About
