extends ../layout/main

block variables
	- var title = "Answers"

block content
	include ../modules/_header
	include answers/_answers-content
	include ../modules/_footer

block script 
	script(src="static/js/main.js")