extends ../layout/main

block variables
	- var title = "Questions"

block content
	include ../modules/_header
	include index/_questions
	include ../modules/_footer

block script
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js")
	script(src="static/js/main.js")