.match {
	&-list {
		position: absolute;
		z-index: 999;
		top: calc(100% + 5px);
		left: 0;
		width: 100%;
	}
	&-link {
		display: block;
		background-color: #fff;
		padding: 10px 20px;
		border: 1px solid $light-grey;
		background-color: #fff;
		&:not(:last-child) {
			border-bottom: none;
		}
	}
}