.header {
	padding: 25px 0;
	&__content {
		display: flex;
		align-items: center;
		@media screen and(max-width: 768px) {
			flex-wrap: wrap;
		}
	}
	&__link {
		order: 2;
		font-size: 18px;
		font-weight: 700;
		color: $global_violet;
		@media screen and(max-width: 768px) {
			margin-left: auto;
		}
	}
	&-search {
		position: relative;
		display: flex;
		align-items: center;
		width: 100%;
		margin: 0 10px;
		@media screen and(max-width: 768px) {
			margin: 15px 0 0 0;
			order: 3;
		}
		&__btn {
			@include position('absolute', $right: 3px, $top: 3px, $bottom: 3px);
		}
	}
}