*, *::before, *::after {
	box-sizing: border-box;
}
html {
	line-height: 1;
	font-size: 16px;
}
body {
	font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: $global_black;
}
h1,h2,h3,h4,h5,h6 {
	margin: 0;
}
ul,li {
	margin: 0;
	padding: 0;
}
li {
	list-style-type: none;
}
p {
	margin: 0;
}
a {
	text-decoration: none;
	color: inherit;
}
audio,
canvas,
iframe, 
img,
svg,
video {
	vertical-align: middle;
}
textarea {
	resize: none;
}
input,
select,
button,
textarea {
	outline: none;
}
button {
	cursor: pointer;
	border: none;
}

section {
	padding: 25px 0;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.container {
	width: 100%;
	max-width: $desktop-width;
	margin: 0 auto;
	padding: 0 20px;
}

.logo {
	font-weight: 900;
	font-size: 25px;
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	@media screen and(max-width: 768px) {
		order: 1;
	}
	span {
		color: $global_violet;
	}
}

.main-title {
	margin-bottom: 20px;
	font-size: 32px;
	line-height: 38px;
	color: $main_title_color;
}

.list {
	border: 1px solid $light_grey;
	border-radius: 8px;
	@media screen and(max-width: 768px) {
		border: none;
	}
	&__item {
		padding: 25px;
		@media screen and(max-width: 768px) {
			border: none;
			padding: 25px 0 0 0;
		}
		&:not(:last-child) {
			border-bottom: 1px solid $light_grey;
			@media screen and(max-width: 768px) {
				border: none;
			}
		}
	}
	&-show-more {
		display: flex;
		flex-direction: column;
		&__text {
			order: 1;
			height: 45px;
			overflow: hidden;
		}
		&__btn {
			margin-top: 5px;
			order: 2;
			background-color: transparent;
			align-self: flex-start;
			color: $light_blue;
			&:focus {
				color: transparent;
				pointer-events: none;
				& ~ .list-show-more__text {
					height: auto;
				}
			}
		}
	}
}

.user-profile {
	display: flex;
	margin-bottom: 15px;
	&__avatar {
		display: flex;
		justify-content: center;
		align-items: flex-end;
		flex: none;
		margin-right: 10px;
		@include size(32px);
		background-color: $global_grey;
		border-radius: 50%;
	}
	&__icon {
		@include size(25px, 28px);
		fill: #fff;
	}
	&__name {
		font-size: 14px;
		line-height: 18px;
	}
	&__info {
		font-size: 12px;
		line-height: 16px;
	}
	&__text {
		color: $text_grey;
	}
	&__breadcrumbs-link {
		color: $light_blue;
		&:not(:last-of-type)::after {
			content: ">";
			margin: 0 5px;
			display: inline-block;
			color: $global_grey;
		}
		&:last-of-type:after {
			content: "・";
			display: inline-block;
		}
	}
}

.form {
	max-width: 730px;
	margin: 0 auto;
	& > *:not(:last-child) {
		margin-bottom: 25px;
	}
	&__error-text {
		margin-bottom: 5px;
		padding-left: 20px;
		display: block;
		color: red;
	}
	&__field, &__message {
		@include size(100%, 48px);
		padding: 0 20px;
		border-radius: 24px;
		border: 1px solid $global_grey;
		font-size: 18px;
		transition: border-color .3s;
		&.error {
			border-color: red;
		}
		@media screen and(max-width: 768px) {
			padding: 0 10px;
			height: 40px;
			font-size: 16px;
		}
		&:focus {
			border-color: $global_blue;
		}
	}
	&__message {
		min-height: 200px;
		padding-top: 10px;
	}
	&__btn {
		padding: 0 23px;
		height: 42px;
		border-radius: 24px;
		background-color: $global_blue;
		color: #fff;
		transition: background-color .3s;
		@media screen and(max-width: 768px) {
			height: 34px;
		}
		&:hover {
			background-color: lighten($global_blue, 10%);
			.form__icon-search {
				transform: rotate(90deg) scale(1.2);
			}
		}
		&:active {
			background-color: darken($global_blue, 10%);
			.form__icon-search {
				transform: rotate(90deg) scale(.9);
			}
		}
		&:focus {
			box-shadow: 0 0 15px $global_blue;
		}
	}
	&__icon-search {
		@include size(20px);
		fill: #fff;
		transition: transform .3s;
	}
}