section.answers 
	.container 
		.answers-question 
			.user-profile 
				.user-profile__avatar
					+icon('user', 'user-profile__icon')
				.user-profile__content
					h5.user-profile__name Jade Maru
					.user-profile__info 
						span.user-profile__text asked in 
						a.user-profile__breadcrumbs-link(href="") Arts &amp; Humanities
						a.user-profile__breadcrumbs-link(href="") Books &amp; Authors
						span.user-profile__text.date.js-question-date 1 decade ago
			.answers-question__body 
				h1.answers-question__main-title Names for fantasy book?
				.list-show-more
					button.list-show-more__btn ...Show more
					p.answers-question__text.list-show-more__text I'm writing a book and it's fantasy. I'd really appreciate any names you could help me come up with. (not too modern and not names of characters off famous movies/books/etc) Can be names for people/creatures places or whatever. I'm writing a book and it's fantasy. I'd really appreciate any names you could help me come up with. (not too modern and not names of characters off famous movies/books/etc) Can be names for people/creatures places or whatever. I'm writing a book and it's fantasy. I'd really appreciate any names you could help me come up with. (not too modern and not names of characters off famous movies/books/etc) Can be names for people/creatures places or whatever. I'm writing a book and it's fantasy. I'd really appreciate any names you could help me come up with. (not too modern and not names of characters off famous movies/books/etc) Can be names for people/creatures places or whatever.
		h2.answers-list-title
			span.answers-list-title__number 3
			| Answers
		ul.list 
			li.list__item 
				.user-profile 
					.user-profile__avatar
						+icon('user', 'user-profile__icon')
					.user-profile__content
						h5.user-profile__name Jade Maru
						.user-profile__info 
							span.user-profile__text.date.js-question-date 1 decade ago
				.answers__content 
					span.answers__label Favourite Answer
					.list-show-more
						button.list-show-more__btn ...Show more
						p.answers__text.list-show-more__text Ummmmm that's so vague D: I suggest you use BabyNames.com and do a meaning search. Here are some random girl's name suggestions: Amber Ummmmm that's so vague D: I suggest you use BabyNames.com and do a meaning search. Here are some random girl's name suggestions: Amber Ummmmm that's so vague D: I suggest you use BabyNames.com and do a meaning search. Here are some random girl's name suggestions: Amber Ummmmm that's so vague D: I suggest you use BabyNames.com and do a meaning search. Here are some random girl's name suggestions: Amber
					.answers-actions
						.answers-actions__block 
							+icon('like-action', 'answers-actions__icon')
							span.answers-actions__amount 0
						.answers-actions__block 
							+icon('dislike-action', 'answers-actions__icon')
							span.answers-actions__amount 0
			li.list__item 
				.user-profile 
					.user-profile__avatar
						+icon('user', 'user-profile__icon')
					.user-profile__content
						h5.user-profile__name Jade Maru
						.user-profile__info 
							span.user-profile__text.date.js-question-date 1 decade ago
				.answers__content 
					span.answers__label Favourite Answer
					.list-show-more
						button.list-show-more__btn ...Show more
						p.answers__text.list-show-more__text Ummmmm that's so vague D: I suggest you use BabyNames.com and do a meaning search. Here are some random girl's name suggestions: Amber Ummmmm that's so vague D: I suggest you use BabyNames.com and do a meaning search. Here are some random girl's name suggestions: Amber Ummmmm that's so vague D: I suggest you use BabyNames.com and do a meaning search. Here are some random girl's name suggestions: Amber Ummmmm that's so vague D: I suggest you use BabyNames.com and do a meaning search. Here are some random girl's name suggestions: Amber
					.answers-actions
						.answers-actions__block 
							+icon('like-action', 'answers-actions__icon')
							span.answers-actions__amount 0
						.answers-actions__block 
							+icon('dislike-action', 'answers-actions__icon')
							span.answers-actions__amount 0
			li.list__item 
				.user-profile 
					.user-profile__avatar
						+icon('user', 'user-profile__icon')
					.user-profile__content
						h5.user-profile__name Jade Maru
						.user-profile__info 
							span.user-profile__text.date.js-question-date 1 decade ago
				.answers__content 
					span.answers__label Favourite Answer
					.list-show-more
						button.list-show-more__btn ...Show more
						p.answers__text.list-show-more__text Ummmmm that's so vague D: I suggest you use BabyNames.com and do a meaning search. Here are some random girl's name suggestions: Amber Ummmmm that's so vague D: I suggest you use BabyNames.com and do a meaning search. Here are some random girl's name suggestions: Amber Ummmmm that's so vague D: I suggest you use BabyNames.com and do a meaning search. Here are some random girl's name suggestions: Amber Ummmmm that's so vague D: I suggest you use BabyNames.com and do a meaning search. Here are some random girl's name suggestions: Amber
					.answers-actions
						.answers-actions__block 
							+icon('like-action', 'answers-actions__icon')
							span.answers-actions__amount 0
						.answers-actions__block 
							+icon('dislike-action', 'answers-actions__icon')
							span.answers-actions__amount 0
