section.questions 
	.container 
		h1.main-title Questions
		h2.questions-list-title 
			span.questions-list-title__text Discover Recent Questions
		ul.list 
			li.questions-list__item.list__item 
				.questions-rating 
					span.questions-rating__number 285
					span.questions-rating__icon-wrapper
						+icon('like', 'questions-rating__icon')
				.questions__content
					h3.questions__title 
						a.questions__link(href="/answers.html") Did leftists ruin this site with censorship by deleting questions and answers?
					.questions-favorite 
						+icon('medal', 'questions-favorite__badge')
						span.questions-favorite__text Favorite Answer:
					.list-show-more
						button.list-show-more__btn ... Show more
						p.questions-list__text.list-show-more__text Yes I could make a baseline non insulting question about Joe Biden and it was amazing how fast it was taken down. It really started going downhill when Verizon bought Yahoo. I imagine a bunch of soy boys with ironic beards working in some crammed up Verizon building in cubicles getting triggered similar to how liberals Yes I could make a baseline non insulting question about Joe Biden and it was amazing how fast it was taken down. It really started going downhill when Verizon bought Yahoo. I imagine a bunch of soy boys with ironic beards working in some crammed up Verizon building in cubicles getting triggered similar to how liberals Yes I could make a baseline non insulting question about Joe Biden and it was amazing how fast it was taken down. It really started going downhill when Verizon bought Yahoo. I imagine a bunch of soy boys with ironic beards working in some crammed up Verizon building in cubicles getting triggered similar to how liberals 
					.questions-info 
						span.questions-info__quantity 7 Answers 
						a.questions-info__category(href="") Politics
						span.questions-info__date 10 hours ago
			li.questions-list__item.list__item 
				.questions-rating 
					span.questions-rating__number 211
					span.questions-rating__icon-wrapper
						+icon('like', 'questions-rating__icon')
				.questions__content
					h3.questions__title 
						a.questions__link(href="/answers.html") How are NBA ratings since having gone Woke?
					.questions-favorite 
						+icon('medal', 'questions-favorite__badge')
						span.questions-favorite__text Favorite Answer:
					p.questions-list__text It is the height of hypocrisy for people who are making an average salary of more than $8.5 Million to lecture us about how they are being oppressed.
					.questions-info 
						span.questions-info__quantity 46 Answers 
						a.questions-info__category(href="") Politics
						span.questions-info__date 3 days ago
			li.questions-list__item.list__item 
				.questions-rating 
					span.questions-rating__number 39
					span.questions-rating__icon-wrapper
						+icon('like', 'questions-rating__icon')
				.questions__content
					h3.questions__title 
						a.questions__link(href="/answers.html") On our last day here in the Y/A world would you like to list the dumbest fvcking thing Trump has ever said?
					p.questions-list__text This is tough choosing just one. Revolutionary War airports. Mexico will pay for the wall. Injecting disinfectant. The virus will just go away, like magic. I won the election. Invisible airplanes. But my personal favorite is "believe me" every time he lied.
					.questions-info 
						span.questions-info__quantity 36 Answers 
						a.questions-info__category(href="") Politics
						span.questions-info__date 5 days ago
