section.questions 
	.container 
		h1.main-title Questions
		h2.questions-title 
			span.questions-title__text Discover Recent Questions
		ul.questions-list 
			li.questions-list__item 
				.questions-list__rating 
					span.questions-list__number 285
					span.questions-list__icon-wrapper
						+icon('like', 'questions-list__icon')
				.questions-list__content
					h3.questions-list__title 
						a.questions-list__link(href="") Did leftists ruin this site with censorship by deleting questions and answers?
					.questions-list__favorite 
						+icon('medal', 'questions-list__badge')
						span.questions-list__small-text Favorite Answer:
					p.questions-list__text Yes I could make a baseline non insulting question about Joe Biden and it was amazing how fast it was taken down. It really started going downhill when Verizon bought Yahoo. I imagine a bunch of soy boys with ironic beards working in some crammed up Verizon building in cubicles getting triggered similar to how liberals 
					span.questions-list__show-more ... Show more
					.questions-list__info 
						span.questions-list__quantity 7 Answers 
						a.questions-list__category(href="") Politics
						span.questions-list__date 10 hours ago
			li.questions-list__item 
				.questions-list__rating 
					span.questions-list__number 85
					span.questions-list__icon-wrapper
						+icon('like', 'questions-list__icon')
				.questions-list__content
					h3.questions-list__title 
						a.questions-list__link(href="") Why are guns allowed in the US?
					p.questions-list__text Why are members of the public allowed to own guns? Aren't guns dangerous? So why are members of the public allowed to own guns?
					.questions-list__info 
						span.questions-list__quantity 26 Answers 
						a.questions-list__category(href="") Politics
						span.questions-list__date 20 hours ago
			li.questions-list__item 
				.questions-list__rating 
					span.questions-list__number 71
					span.questions-list__icon-wrapper
						+icon('like', 'questions-list__icon')
				.questions-list__content
					h3.questions-list__title 
						a.questions-list__link(href="") On our last day here in the Y/A world would you like to list the dumbest fvcking thing Trump has ever said?
					.questions-list__favorite 
						+icon('medal', 'questions-list__badge')
						span.questions-list__small-text Favorite Answer:
					p.questions-list__text This is tough choosing just one. Revolutionary War airports. Mexico will pay for the wall. Injecting disinfectant. The virus will just go away, like magic. I won the election. Invisible airplanes. But my personal favorite is "believe me" every time he lied.
					.questions-list__info 
						span.questions-list__quantity 20 Answers 
						a.questions-list__category(href="") Politics
						span.questions-list__date 2 days ago
