$global_violet: #6000d2;
$global_blue: #145aff;
$light_blue: #188fff;
$yellow: #ffd651;
$global_black: #000;
$global_grey: #b0b0b0;
$light_grey: #e0e4e9;
$text_grey: #6e7780;

$main_title_color: #26282a;

$desktop-width: 1270px;